
* {font-family: Helvetica;}

#header p {font-size:100px;
           font-weight:bold;
           color:khaki;
           text-align:center;
           }

#header {background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg)}

#brushes { background-color:mediumspringgreen;}
#frames { background-color:lightcoral;}
 #paint { background-color:skyblue;}

 #brushes, #frames,#paint {font-size:32px;
                           font-weight:bold;
                           color:white;}
p span {font-weight:bold;
              color:blue;}
